.board {
  margin: auto;
  padding: auto;
  width: auto;
  height: auto;
  border: 20px;
  border-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: fit-content;
}

.box {
  width: 50px;
  height: 50px;
}

.black {
  background-color: grey;
}

.white {
  background-color: white;
}

.empty-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: blue;
}

.opponent-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: red;
}